
@font-face {
  font-family: 'Averta CY';
  src: url('./Averta-Cyrillic-Regular.otf') format('opentype');
  font-weight: 400; /* Ví dụ: Regular */
  font-style: normal;
}



@font-face {
  font-family: 'Imbue';
  src: url('./Imbue_72pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
