@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-container {
  width: max-content; /* Đảm bảo container đủ rộng */
  animation: scroll 40s linear infinite;
}
.scroll-wrapper {
  animation: scroll 40s linear infinite;
}
/* Chạy chậm hơn trên thiết bị nhỏ (mobile) */
@media (max-width: 768px) {
  .scroll-container {
    animation-duration: 80s; /* gấp đôi thời gian để chạy chậm hơn */
  }
}