@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-container {
  width: max-content; /* Đảm bảo container đủ rộng */
  animation: scroll 40s linear infinite;
}
.scroll-wrapper {
  animation: scroll 40s linear infinite;
}